/* Shrink the dash by reducing padding and border radius */
#artemisdockContainer.shrink #dash,
#artemisdockContainer.artemisdock #dash {
    border:1px;
    padding:0px;
}

#artemisdockContainer.shrink.left #dash,
#artemisdockContainer.artemisdock.left #dash {
    border-left: 0px;
    border-radius: 0px 9px 9px 0px;
}


#artemisdockContainer.shrink.right #dash,
#artemisdockContainer.artemisdock.right #dash {
    border-right: 0px;
    border-radius: 9px 0px 0px 9px;
}


#artemisdockContainer.shrink.top #dash,
#artemisdockContainer.artemisdock.top #dash {
    border-top: 0px;
    border-radius: 0px 0px 9px 9px;
}

#artemisdockContainer.shrink.bottom #dash,
#artemisdockContainer.artemisdock.bottom #dash {
    border-bottom: 0px;
    border-radius: 9px 9px 0px 0px;
}

#artemisdockContainer.straight-corner #dash,
#artemisdockContainer.shrink.straight-corner #dash {
    border-radius: 0px;
}

/* Scrollview style */
.bottom #artemisdockDashScrollview,
.top #artemisdockDashScrollview {
    -st-hfade-offset: 24px;
}

.left #artemisdockDashScrollview,
.right #artemisdockDashScrollview {
    -st-vfade-offset: 24px;
}

#artemisdockContainer.running-dots .dash-item-container > StButton,
#artemisdockContainer.artemisdock .dash-item-container > StButton {
    transition-duration: 250;
    background-size: contain;
}

#artemisdockContainer.shrink .dash-item-container > StButton,
#artemisdockContainer.artemisdock .dash-item-container > StButton {
   padding: 1px 2px;
}

/* Dash height extended to the whole available vertical space */
#artemisdockContainer.extended.top #dash,
#artemisdockContainer.extended.right #dash,
#artemisdockContainer.extended.bottom #dash,
#artemisdockContainer.extended.left #dash {
    border-radius: 0;
}

#artemisdockContainer.extended.top #dash,
#artemisdockContainer.extended.bottom #dash {
    border-left:0px;
    border-right:0px;
}

#artemisdockContainer.extended.right #dash,
#artemisdockContainer.extended.left #dash {
    border-top:0px;
    border-bottom:0px;
}

/* Running and focused application style */

#artemisdockContainer.running-dots .app-well-app.running > .overview-icon,
#artemisdockContainer.artemisdock .app-well-app.running > .overview-icon {
	background-image:none;
}


#artemisdockContainer.running-dots .app-well-app.focused  .overview-icon,
#artemisdockContainer.artemisdock .app-well-app.focused  .overview-icon {
    background-color: rgba(238, 238, 236, 0.2);
}

#artemisdockContainer.artemisdock #dash {
    background: #2e3436;
}

/*
 * This is applied to a dummy actor. Only the alpha value for the background and border color
 * and the transition-duration are used
 */
#artemisdockContainer.dummy-opaque {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: rgba(0, 0, 0, 0.4);
    transition-duration: 300ms;
}

/*
 * This is applied to a dummy actor. Only the alpha value for the background and border color
 * and the transition-duration are used
 */
#artemisdockContainer.dummy-transparent {
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.1);
    transition-duration: 500ms;
}

#artemisdockContainer.opaque {
}

#artemisdockContainer.transparent {
}

#artemisdockContainer .number-overlay {
    color: rgba(255,255,255,1);
    background-color: rgba(0,0,0,0.8);
    text-align: center;
}

#artemisdockContainer .notification-badge {
    color: rgba(255,255,255,1);
    background-color: rgba(255,0,0,1.0);
    padding: 0.2em 0.5em;
    border-radius: 1em;
    font-weight: bold;
    text-align: center;
    margin: 2px;
}

#artemisdockPreviewSeparator.popup-separator-menu-item-horizontal {
    width: 1px;
    height: auto;
    border-right-width: 1px;
    margin: 32px 0px;
}

.artemisdock-app-well-preview-menu-item {
    padding: 1em 1em 0.5em 1em;
}

#artemisdockContainer .metro .overview-icon{
    border-radius: 0px;
}

#artemisdockContainer.bottom .metro.running2.focused,
#artemisdockContainer.bottom .metro.running3.focused,
#artemisdockContainer.bottom .metro.running4.focused,
#artemisdockContainer.top .metro.running2.focused,
#artemisdockContainer.top .metro.running3.focused,
#artemisdockContainer.top .metro.running4.focused {
    background-image: url('./media/highlight_stacked_bg.svg');
    background-position: 0px 0px;
    background-size: contain;
}

#artemisdockContainer.left .metro.running2.focused,
#artemisdockContainer.left .metro.running3.focused,
#artemisdockContainer.left .metro.running4.focused,
#artemisdockContainer.right .metro.running2.focused,
#artemisdockContainer.right .metro.running3.focused,
#artemisdockContainer.right .metro.running4.focused {
    background-image: url('./media/highlight_stacked_bg_h.svg');
    background-position: 0px 0px;
    background-size: contain;
}